USE [DigitalNew]
GO
/****** Object:  Table [dbo].[digitalnew]    Script Date: 4/3/2021 11:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[digitalnew](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[short] [nvarchar](max) NOT NULL,
	[author] [nvarchar](max) NOT NULL,
	[timepublish] [datetime] NOT NULL,
	[image] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[digitalnew] ON 

SET IDENTITY_INSERT [dbo].[digitalnew] OFF
